.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 4em;
  height: 80vh;
}

.container h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
}

.categories {
  display: flex;
  gap: 200px;
}

.item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1em;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.item p {
  font-size: 20px;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
}

.item button:hover {
  box-shadow: 0px 0px 7px 7px rgb(255, 127, 47, 0.8);
  transition: 0.5s;
}

@media (max-width: 700px) {
  .categories {
    gap: 100px;
  }
}

@media (max-width: 590px) {
  .categories {
    gap: 20px;
  }
}

@media (max-width: 495px) {
  .container {
    height: 100%;
    padding: 2em;
  }

  .container h1 {
    font-size: 25px;
  }

  .categories {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 350px) {
  .container h1 {
    font-size: 20px;
  }
}
