@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600");

.article {
  display: flex;
  margin-bottom: 2em;
}

.container {
  width: 100%;
}

.container_filters {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.container_products {
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  position: static;
  color: #333;
}

.shop_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 270px));
  gap: 1.5rem;
  margin-right: 1rem;
}

.product_box {
  position: relative;
  max-width: max-content;
  max-height: min-content;
  padding: 1em;
  border: 1px solid #cacaca;
}

.link_product {
  text-decoration: none;
  color: #333;
}

.product_box:hover {
  border: 1px solid #333;
  transition: 0.3s;
  .price {
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s;
    color: #ec4f22;
  }
}

.product_img {
  margin-bottom: 1rem;
  width: 100%;
  height: 270px;
  object-fit: contain;
  border-bottom: 1px solid #cacaca;
}

.product_brand {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #ec4f22;
  text-transform: uppercase;
  font-family: "JetBrains Mono", monospace;
}

.product_title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  height: 80px;
}

.price {
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  transition: 0.4s;
  font-family: "JetBrains Mono", monospace;
}

.add_cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.add_cart:hover {
  background-color: #ec4f22;
  transition: 0.3s;
}

/* Responsividade */

@media (max-width: 1080px) {
  .container {
    margin-left: 2em;
    width: 90%;
  }
  .shop {
    margin-top: 2rem !important;
  }
}

@media (max-width: 780px) {
  .container_filters {
    display: none;
  }

  .button_filter {
    display: flex;
  }
}

@media (max-width: 650px) {
  .container_carousel {
    display: none;
  }

  .container {
    margin-top: 1em;
  }
}

@media (max-width: 360px) {
  .shop {
    margin-top: 1rem !important;
  }
}
