.section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  padding: 1em;
}

/* Image Container */

.image_container {
  display: flex; 
}

.selected_image img {
  border: 1px solid #000;
  border-radius: 1em;
  width: 100%;
  min-width: 350px;
}

.outFocus_product_images {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-right: 1em;
}

.outFocus_product_images img {
  opacity: 0.7;
  height: 70px;
  border-radius: 1em;
  border: 1px solid #000;
}

.outFocus_product_images img:hover {
  opacity: 1;
}

/* Description Container */

.product_description_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_description_container h1 {
  font-size: 2em;
}

/* Checkout Container */

.checkout_container {
  border: 1px solid #a79f9f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  min-width: 205px;
  min-height: 500px;
}

.product_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product_title h3 {
  font-size: 1em;
  font-weight: 500;
  color: rgb(236, 79, 34);
}

.checkout_container h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.product_price {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.product_price h3 {
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(236, 79, 34);
}

.calculate_freight {
  display: flex;
  flex-direction: column;
}

.calculate_freight form input {
  padding: 0.5em;
  margin-right: 1em;
}

.calculate_freight form button {
  padding: 0.5em;
  color: rgb(236, 79, 34);
  background-color: white;
  border: solid 1.5px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.calculate_freight form button:hover {
  background-color: rgb(53, 135, 211);
}

.checkout_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buy,
.add_cart {
  color: #fff;
  font-weight: 700;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy {
  background-color: rgb(39, 192, 39);
  font-size: 25px;
}

.buy:hover {
  background-color: rgb(149, 226, 149);
}

.add_cart {
  background-color: rgb(236, 79, 34);
  font-size: 20px;
}

.add_cart:hover {
  background-color: rgb(255, 177, 156);
}

/* Responsividade */

@media (max-width: 1230px) {
  .section {
    grid-template-columns: auto auto;
  }

  .image_container {
    grid-column: 1 / 2;
  }

  .product_description_container {
    grid-column: 1 / span 2;
    grid-row: 2;
    gap: 20px;
  }
}

@media (max-width: 850px) {
  .product_price {
    flex-direction: column;
  
  }
}

@media (max-width: 830px) {
  .section {
    grid-template-columns: auto;
  }

  .image_container {
    grid-column: 1 / span 2;
    justify-content: center;
  }

  .checkout_container {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .product_description_container {
    grid-column: 1 / span 2;
    grid-row: 2;
    
  }

  .calculate_freight form {
    display: flex;
  }  
}

@media (max-width: 470px) {
  .selected_image img {
    min-width: 200px;
  }

  .outFocus_product_images img {
    height: 50px;
  }
}

@media (max-width: 360px) {
  .outFocus_product_images img {
    height: 40px;
  }
}